.markdown-body .highlight pre,
.markdown-body pre {
    border-radius: 5px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.markdown-body p>img,
.markdown-body p>a>img,
.markdown-body figure>img,
.markdown-body figure>a>img {
    border-radius: 5px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.license-box {
    border-radius: 5px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}